/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes up the full height of the screen */
  max-width: 100vw; /* Prevents content from overflowing */
}

.content {
  flex: 1; /* Ensures the content area takes up all available space, pushing the footer down */
  width: 100%;
  overflow-x: hidden; /* Ensures no horizontal scrolling */
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: auto; /* Pushes the footer to the bottom */
}
